.addItem {
  text-align: center;
}
.addItem h2 {
  margin: 3rem;
}
.select {
  margin: 1rem;
  padding: 0.5rem;
  background-color: #ddd;
  color: #262526;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid #7f8084;
  width: 50%;
}
.select:focus {
  outline-color: #262526;
}
.feedback{
  margin: 1rem auto;
}
.feedback p {
  display: inline-block;
  margin: 0;
  background-color: #afb2b7;
  border-radius: 5px;
  padding: 1rem 1.5rem;
}